body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome {
  margin: auto;
  border: greenyellow;
  border-width: thin;
  border-style: outset;
  text-align: center;
}